:root {
    --primary-color: #020a76;
    --secondary-color: #340276;
    --tertiary-color: #39b2a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */

header {
    padding: 20px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(211, 211, 211, 0.952);
    width: 400px;
    padding: 10px 10px;
    margin: 0px;
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
    text-decoration: underline;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    height: 200px;
    width: 100%;
    padding: 40px 80px;
    display: flex;
    text-align: right;
}

footer h2 {
    height: 120px;
    width: 250px;
    padding: 0px 60px 30px 30px;
    border-right-style: solid;
    border-color: lightslategray;
    border-width: 3px;
    color: var(--secondary-color);
    font-size: 50px;
    text-align: right;
    }

footer div {
    padding: 0px 20px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    align-items: center;
    list-style: none;
    font-size: 20px;
}


footer span {
    color: var(--secondary-color);
    text-decoration: underline;
    padding: 0px 0px 0px 0px;
}


/* SUBTITLE STARTS */

section {
    padding: 60px;    
}

/* SECTION SUBTITLE STYLES START */

.sub-title {
    background-image: url("../images/hero-bg.jpg");
    padding: 80px;
}

.sub-title div {
    font-size: 30px;
    text-align: right;
}

/* about me section starts */
.about-me {
    width: 100%;
    height: 200px;
    padding: 40px 120px;
    display: flex;
    text-align: right;
}

.about-me h2 {
    font-size: 50px;
    padding: 0px 30px 30px 30px;
    height: 150px;
    border-right-style: solid;
    border-color: lightslategray;
    border-width: 3px;
}

.about-me div {
    padding: 0px 30px;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

/* main section begins */

main {
    width: 100%;
    height: 1050px;
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
}

main h2 {
    font-size: 50px;
    padding: 0px 30px 30px 50px;
    border-right-style: solid;
    border-color: lightslategray;
    border-width: 3px;
    text-align: right;
}

main div {
    padding: 0px 30px;
    height: 1000px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.work div.flex-container {
    padding: 0px, 5px, 5px, 5px;
    text-align: right;
    height: 500px;
    font-size: 15px;
    flex-wrap: wrap;
    flex-direction: row;
}

.work div.content {
    padding: 0px, 5px, 5px, 5px;
    text-align: right;
    height: 100px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.surf-report {
    font-size: 30px;
    padding: 300px 0px 0px 0px;
    height: 400px;
    width: 815px;
    background-image: url("../images/hero-bg.jpg");
    border: solid lime 5px;
    display: block;
    text-align: left;
}

div.surf-report span
 div.surf-report p {
    width: 200px;
}

div.surf-report span, div.led-wall span, div.calculator span, div.pastel-pretzel span, div.run-buddy span {
    padding: 5px 5px 5px 5px ;
    background-color: lime;
}

div p {
    background-color: lime;
    padding: 5px 5px 5px 5px ;
    text-align: left;
    width: 126px;
}

div.led-wall {
    font-size: 30px;
    padding: 100px 0px 0px 0px;
    height: 200px;
    width: 400px;
    background-image: url("../images/hero-bg.jpg");
    border: solid lime 5px;
    display: block;
    text-align: left;
}

div.led-wall span, div.led-wall p {
    width: 134px;
}

div.calculator {
    font-size: 30px;
    padding: 100px 0px 0px 0px;
    height: 200px;
    width: 400px;
    background-image: url("../images/hero-bg.jpg");
    border: solid lime 5px;
    display: block;
    text-align: left;
}

div.calculator span, div.calculator span p {
    width: 400px;
}

div.pastel-pretzel {
    font-size: 30px;
    padding: 100px 100px 0px 0px;
    height: 200px;
    width: 400px;
    background-image: url("../images/hero-bg.jpg");
    border: solid lime 5px;
    display: block;
    text-align: left;
}

div.surf-report span, div.surf-report p {
    width: 200px;
}

div.run-buddy {
    font-size: 30px;
    padding: 100px 0px 0px 0px;
    height: 200px;
    width: 400px;
    background-image: url("../images/hero-bg.jpg");
    border: solid lime 5px;
    display: block;
    text-align: left;
}

div.surf-report p, div.led-wall p, div.calculator p, div.pastel-pretzel p, div.run-buddy p {
    font-size: 15px;
    background-color: lime;
}