:root {
    --primary-color: #020a76;
    --secondary-color: #340276;
    --tertiary-color: #39b2a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */

header {
    padding: 20px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(211, 211, 211, 0.952);
    width: 400px;
    padding: 10px 10px;
    margin: 0px;
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
    text-decoration: underline;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

div flex-item {
    border-left: lightslategray;
    border-width: 5xp;

}

footer {
    height: 100px;
    width: 100%;
    padding: 40px 120px;
    display: flex;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 50px;
    }

footer div {
    padding: 0px 40px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}


footer span {
    color: var(--secondary-color);
    text-decoration: underline;
}


/* SUBTITLE STARTS */

section {
    padding: 60px;    
}

/* SECTION SUBTITLE STYLES START */

.sub-title {
    background-image: url("../images/hero-bg.jpg");
    padding: 80px;
}

.sub-title div {
    font-size: 30px;
    text-align: right;
}

/* about me section starts */
.about-me {
    width: 100%;
    height: 200px;
    padding: 40px 120px;
    display: flex;
}

.about-me h2 {
    font-size: 50px;
}

.about-me div {
    padding: 0px 60px;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.about-me div.flex-item {
    border-left-style: solid;
    border-color: lightslategray;
    border-width: 3px;
}

/* main section begins */

main {
    width: 100%;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

main h2 {
    font-size: 50px;
}

main div {
    padding: 0, 60px;
    text-align: right;
    height: 1000px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.work div.flex-container {
    padding: 20px, 20px, 20px, 60px;
    text-align: right;
    height: 1000px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.work div.content {
    padding: 20px, 20px, 20px, 60px;
    text-align: right;
    height: 500px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.work div.flex-container {
    padding: 20px;
    border-left-style: solid;
    border-color: lightslategray;
    border-width: 3px;
}

.surf-report {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
}

.led-wall {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
}

.calculator {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
}

.pastel-pretzel {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
}

.run-buddy {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
}


/* UTILITIES */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

