:root {
    --primary-color: #020a76;
    --secondary-color: #340276;
    --tertiary-color: #39b2a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */

header {
    padding: 20px 0px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(211, 211, 211, 0.952);
    width: 400px;
    padding: 10px 10px;
    margin: 0px;
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
    text-decoration: underline;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    height: 100px;
    width: 100%;
    padding: 40px 120px;
    display: flex;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 50px;
    }

footer div {
    padding: 0px 40px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}


footer span {
    color: var(--secondary-color);
    text-decoration: underline;
}


/* SUBTITLE STARTS */

section {
    padding: 60px;    
}

/* SECTION SUBTITLE STYLES START */

.sub-title {
    background-image: url("../images/hero-bg.jpg");
    padding: 80px;
}

.sub-title div {
    font-size: 30px;
    text-align: right;
}

/* about me section starts */
.about-me {
    width: 100%;
    height: 200px;
    padding: 40px 120px;
    display: flex;
}

.about-me h2 {
    font-size: 50px;
}

.about-me div {
    padding: 0px 60px;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

/* main section begins */

main {
    width: 100%;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main h2 {
    font-size: 50px;
}

main div {
    padding: 0, 60px;
    text-align: right;
    height: 150px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap-reverse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.run-buddy {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg");
}

.run-buddy p {
    font-size: 15px;
}



/* UTILITIES */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

/* MEDIA QUERY FOR SMALLER DESTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title{
        width: 80%;
    }
    .trainer {
        flex: 0 70%;
    }

    .contact-form iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    .hero-form button {
        width: 100%;
    }
    
    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }
    .contact-info > * {
        flex: 0 100%;
    }
    
    .contact-form {
        order: 3;
    }
}